/* css for header */
header {
  background-color: #80b3ff;
  text-align: center;
  padding: 20px;
}

/* css for footer */
footer {
  background-color: #80b3ff;
  text-align: center;
  padding: 10px;
}